* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  backface-visibility: hidden;
}

body {
  height: 100vh;
  font-family: Impact;
}

img,
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  user-select: none;
  position: absolute;
  top: 0;
}

img {
  right: 0;
}

video {
  left: 0;
}

h1 {
  color: white;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 30px;
  letter-spacing: 15px;
  margin: -20px 0 0 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.container .hotspot {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 200px;
  margin-top: -100px;
  margin-left: -35%;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.right {
  right: 0;
}

.split.left {
  left: 0;
}

.split.right,
.split.left {
  transition: width .5s ease-in-out;
  transform: translateZ(0);
}

.hover-right .right,
.hover-left .left {
  width: 70%;
}

.hover-right .left,
.hover-left .right {
  width: 30%;
}